/* 
    Author      : Clayton Barnette <claytonbarnette@gmail.com>
    Date        : 02/03/2015
    Name        : custom.css
*/
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

body{
    padding-top: 90px;
    background-color: #e6e6e6;
    padding-bottom: 50px;
}

div.scrollPanel{
    height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}

td{
    font-family: 'Roboto Condensed', sans-serif;
}

tr{
    font-size: 10pt;
    padding: 2px;
    border-bottom: 1px solid #999;
}

tr:hover{
    background-color: #d14;
    color: #fff;
    cursor: pointer;
}
tr:active{
    background-color: #cccccc;
}

div.panel-heading, h1, h2, h3, h4, h5, a.list-group-item{
    font-family: 'Oswald', sans-serif; 
}

span.topbadge{
    background-color: red;
    color: #ffffff;
    font-size: 8pt;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px; 
}

#footer{
    text-align: center;
    color: #ffffff;
    padding: 10px;
    font-size: 9pt;
    font-family: 'Roboto Condensed', sans-serif;
}

.topnav{
    border-bottom: 10px solid red;
}

a.list-group-item {
    color: #777777;
}

div.list-group a span{
    color: #e9322d;
}
